@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(15, 15, 15);
}

img {
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 768px) {
  h2 {
    font-size: 36px;
  }
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .header {
    height: 40px;
  }
}
.header .logo {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  .header .logo {
    font-size: 16px;
  }
}

.section {
  margin: 30px 0 60px;
}
@media (max-width: 768px) {
  .section {
    margin: 15px 0 40px;
  }
}

.first__block {
  background-image: url(../img/fb_bg.png);
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: contain;
}
@media (max-width: 768px) {
  .first__block {
    background-image: url(../img/m_fb_bg.png);
  }
}
.first__block__inner {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .first__block__inner {
    height: 100%;
    padding: 40px 0;
  }
}
.first__block__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 768px) {
  .first__block__text {
    gap: 35px;
  }
}
.first__block__text h1 {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.first__block__text h1 span {
  color: #f31e28;
}
@media (max-width: 768px) {
  .first__block__text h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .first__block__text h1 {
    font-size: 24px;
  }
}
.first__block__text h2 {
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 768px) {
  .first__block__text h2 {
    font-size: 46px;
  }
}
@media (max-width: 500px) {
  .first__block__text h2 {
    font-size: 30px;
  }
}
.first__block__text p {
  display: block;
  max-width: 70%;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.first__block__text p span {
  color: rgb(243, 30, 40);
}
@media (max-width: 768px) {
  .first__block__text p {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .first__block__text p {
    max-width: 100%;
  }
}
.first__block__text a {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 25px 40px;
  background-color: rgb(243, 30, 40);
  border-radius: 50px;
  box-shadow: 0px 0px 51px 15px rgba(243, 30, 40, 0.5);
}
@media (max-width: 768px) {
  .first__block__text a {
    font-size: 18px;
    padding: 20px 30px;
  }
}
@media (max-width: 500px) {
  .first__block__text a {
    margin: 20px auto;
  }
}

.about {
  margin-bottom: 100px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .about__inner {
    flex-direction: column;
    justify-content: start;
  }
}
.about__image {
  width: 50%;
  position: relative;
}
@media (max-width: 768px) {
  .about__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.about__image .image__button {
  max-width: 600px;
  width: 100%;
  position: absolute;
  bottom: -30px;
  left: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 768px) {
  .about__image .image__button {
    position: static;
    justify-content: center;
  }
}
.about__image .image__button a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 50px;
  background-color: rgb(243, 30, 40);
  border-radius: 10px;
  box-shadow: 0px 0px 51px 15px rgba(243, 30, 40, 0.5);
}
.about__image .image__button img {
  width: 100px;
  margin-top: 70px;
}
@media (max-width: 768px) {
  .about__image .image__button img {
    display: none;
  }
}
.about__image .image__button span {
  color: #fff;
  font-size: 18px;
}
@media (max-width: 768px) {
  .about__image .image__button span {
    display: none;
  }
}
.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .about__text {
    margin-top: 50px;
  }
}
.about__text h3 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(243, 30, 40);
}
@media (max-width: 768px) {
  .about__text h3 {
    font-size: 30px;
  }
}
.about__text span {
  display: block;
  margin: 70px 0 30px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 768px) {
  .about__text span {
    margin: 50px 0 20px;
  }
}
@media (max-width: 500px) {
  .about__text span {
    font-size: 18px;
  }
}
.about__text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about__text ul li {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  padding-left: 30px;
  margin: 0;
}
@media (max-width: 500px) {
  .about__text ul li {
    font-size: 16px;
  }
}
.about__text ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f31e28;
  position: absolute;
  left: 0;
  top: 10px;
}

.conditions {
  margin-top: 200px;
}
@media (max-width: 768px) {
  .conditions {
    margin-top: 100px;
  }
}
.conditions__inner {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
.conditions__grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 768px) {
  .conditions__grid {
    gap: 40px;
  }
}
.conditions__grid-item {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #302f30;
  padding: 70px 20px 40px;
  border-radius: 10px;
  position: relative;
}
.conditions__grid-item img {
  position: absolute;
  top: -65px;
  left: 20px;
  width: 150px;
  height: 150px;
}
.conditions__grid-item span {
  font-size: 24px;
  color: #fff;
  text-align: center;
}
@media (max-width: 500px) {
  .conditions__grid-item span {
    font-size: 18px;
  }
}
.conditions p {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  display: block;
  margin-top: 50px;
}
@media (max-width: 500px) {
  .conditions p {
    font-size: 24px;
  }
}

.price {
  margin-top: 200px;
}
@media (max-width: 768px) {
  .price {
    margin-top: 100px;
  }
}
.price__inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.price__image {
  position: absolute;
  bottom: 15%;
  right: -20%;
  width: 800px;
}
@media (max-width: 1360px) {
  .price__image {
    display: none;
  }
}
.price__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -moz-column-gap: 20%;
       column-gap: 20%;
  row-gap: 80px;
  margin: 100px 0 150px;
}
@media (max-width: 500px) {
  .price__grid {
    margin: 75px 0 100px;
  }
}
.price__grid-item {
  border: 3px solid #f31e28;
  border-radius: 10px;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
}
.price__grid-item .name {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  border-bottom: 3px solid #f31e28;
  text-align: center;
  padding: 10px 0;
}
.price__grid-item .content {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.price__grid-item .content p {
  font-size: 18px;
  color: #fff;
}
.price__grid-item .price {
  font-size: 50px;
  text-align: center;
  border: 2px solid #f31e28;
  border-radius: 100px;
  padding: 0px 30px;
  max-width: 250px;
  margin: 50px auto 30px;
  color: #fff;
}
@media (max-width: 500px) {
  .price__grid-item .price {
    font-size: 30px;
  }
}
.price__grid-item .button {
  text-align: center;
  margin: 20px auto -40px;
  max-width: 200px;
  width: 100%;
}
.price__grid-item .button a {
  max-width: 200px;
  width: 100%;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 25px 0;
  background-color: rgb(243, 30, 40);
  border-radius: 50px;
  box-shadow: 0px 0px 51px 15px rgba(243, 30, 40, 0.5);
}
@media (max-width: 500px) {
  .price__grid-item .button a {
    font-size: 18px;
    padding: 15px 0;
  }
}
@media (max-width: 500px) {
  .price__grid-item .button {
    margin-bottom: -25px;
  }
}
.price h3 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .price h3 {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
.price__text {
  font-size: 24px;
  color: #fff;
  line-height: 1.5;
  max-width: 50%;
  font-weight: 300;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .price__text {
    font-size: 30px;
    max-width: 100%;
    font-size: 18px;
  }
}
.price .arrow {
  max-height: 300px;
  height: 100%;
  max-width: 60px;
  margin: 50px 0;
  margin-left: -30px;
}
@media (max-width: 1130px) {
  .price .arrow {
    display: none;
  }
}
.price .arrow img {
  width: 100%;
  height: 100%;
}
.price .qoute {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .price .qoute {
    font-size: 20px;
  }
}
.price .qoute span {
  font-weight: 700;
  color: #f31e28;
  margin-right: 7px;
}

.befor-after {
  margin: 150px 0;
}
@media (max-width: 768px) {
  .befor-after {
    margin: 75px 0;
  }
}
.befor-after__inner {
  margin-top: 100px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .befor-after__inner {
    gap: 25px;
  }
}
.befor-after__inner .swiper-button-prev,
.befor-after__inner .swiper-button-next {
  position: static;
}
.befor-after__inner .swiper-button-prev::after {
  content: url(../img/slider_arrow.svg);
  rotate: 180deg;
  width: 60px;
  height: 60px;
}
@media (max-width: 768px) {
  .befor-after__inner .swiper-button-prev::after {
    margin-left: 20px;
  }
}
.befor-after__inner .swiper-button-next::after {
  content: url(../img/slider_arrow.svg);
  width: 60px;
  height: 60px;
}
@media (max-width: 768px) {
  .befor-after__inner .swiper-button-next::after {
    margin-right: 20px;
  }
}
.befor-after__slider {
  max-width: 50%;
}/*# sourceMappingURL=index.css.map */