@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(15, 15, 15);
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header .logo {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.section {
  margin: 30px 0;
}

.first__block {
  background-image: url(../img/fb_bg.png);
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: contain;
}
.first__block__inner {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first__block__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.first__block__text h1 {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.first__block__text h1 span {
  color: #f31e28;
}
.first__block__text h2 {
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  color: #fff;
}
.first__block__text p {
  display: block;
  max-width: 70%;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.first__block__text p span {
  color: rgb(243, 30, 40);
}
.first__block__text a {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 25px 40px;
  background-color: rgb(243, 30, 40);
  border-radius: 50px;
  box-shadow: 0px 0px 51px 15px rgba(243, 30, 40, 0.5);
}

.about h2 {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: #fff;
}
.about__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__image {
  width: 40%;
  position: relative;
}
.about__image .image__button {
  max-width: 600px;
  width: 100%;
  position: absolute;
  bottom: -30px;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.about__image .image__button a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 50px;
  background-color: rgb(243, 30, 40);
  border-radius: 10px;
  box-shadow: 0px 0px 51px 15px rgba(243, 30, 40, 0.5);
}
.about__image .image__button img {
  width: 100px;
  margin-top: 70px;
}
.about__image .image__button span {
  color: #fff;
  font-size: 18px;
}
.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__text h3 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(243, 30, 40);
}
.about__text span {
  display: block;
  margin: 70px 0 30px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.about__text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about__text ul li {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  padding-left: 30px;
  margin: 0;
}
.about__text ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f31e28;
  position: absolute;
  left: 0;
  top: 10px;
}/*# sourceMappingURL=index.css.map */